<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-gray-900 text-white">
    <script src="https://cdn.tailwindcss.com"></script>

    <%- include('../partials/header') %>

    <h2 class="text-3xl my-8 font-bold text-blue-400 text-center">Events</h2>

    <div class="hidden" id="nav-container">
        <%- include('../partials/nav') %>
    </div>

    <h3 class="text-2xl my-2 text-blue-400 text-left">View Switcher</h3>    

    <div class="view-switcher p-4">
        <a href="/calendar?view=daily" class="bg-blue-500 text-white px-4 py-2 m-2 rounded hover:bg-blue-700">Daily</a>
        <a href="/calendar?view=weekly" class="bg-blue-500 text-white px-4 py-2 m-2 rounded hover:bg-blue-700">Weekly</a>
        <a href="/calendar?view=monthly" class="bg-blue-500 text-white px-4 py-2 m-2 rounded hover:bg-blue-700">Monthly</a>
    </div>

    <% if (view === 'daily') { %>
        <%- include('../partials/day-view') %>
    <% } else if (view === 'weekly') { %>
        <%- include('../partials/week-view') %>
    <% } else if (view === 'monthly') { %>
        <%- include('../partials/month-view') %>
    <% } %>

    <%- include('../partials/footer') %>

    <script>
        const navContainer = document.getElementById('nav-container');
        const barsIcon = document.querySelector('.fa-bars');

        barsIcon.addEventListener('click', () => {
            navContainer.classList.toggle('hidden');
        });
    </script>
</body>
</html>
